#notification-count,
#admin-bar-notification-count {
	background-color: #dc3232;
	color: #fff;
	border-radius: 50%;
	padding: 0 5px;
}
.dashboard-notices .wrap .donate {
	font-style: italic;
}
.dashboard-notices .wrap .donate .emoji {
	font-style: normal;
}